


body {
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}


.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }


.container {
    margin: 100px;
  }
  
  .box {
    background: steelblue;
    border-radius: 5px;
    display: inline-block;
    height: 80px;
    margin: 20px;
    width: 80px;
}
    
.box:hover{
    transform: scale(1.4);

}
  
  .box1 {
    transition: transform 1s;
  }
  
  .box2 {
    transition: all 1.3s 0.5s;
  }
  
  .box3 {
    transition: all 1.3s 1s;
  }